@import "../bower_components/scss-blend-modes/stylesheets/blend-modes";

// Default variables
$color-harmony: mono !default;
$color-base: #44CCCC !default;
$offset-hue: 30 !default;
$offset-light: 30 !default;

@import "utilities/interpolation";
@import "utilities/ryb";
@import "utilities/mix";
@import "utilities/tint-shade";
@import "utilities/color-adjustments";
@import "utilities/functions";
@import "utilities/color-wheel";
@import "utilities/color-harmony";
